/*SEGUNDA SECCION ( INFO SERVICIOS )*/
.seccion1{
    display:block;
    border-bottom: 1px grey solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 130%;
}
/*MEDIOS DE CONTACTO*/
.mediosDeContacto{
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
.mediosDeContacto h1{
    text-align: center;
}
.mediosDeContacto ul{
    text-align: center;
    font-size: 30px;
}
.mediosDeContacto p{
    text-align: center;
}
/*INFO DE SERVICIOS Y PRESUPUESTO*/
.formPresupuesto{
    display:block;
    padding-top: 7.5%;
    padding-bottom: 5%;
    margin-left: 7.5%;
    margin-right: 7.5%;
}